<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/update" method="post">
        <input type="text" name="editid" value="<%= edittask.id %>">
        <input type="text" name="edittask" placeholder="Add Your Task" value="<%= edittask.task %>">
        <input type="submit">
    </form>
    
</body>
</html>